body{
background-color: burlywood;
background-position: center;text-align: center;

}
.add-friend-button{
    width: fit-content;
    padding: 0.1cm;
    color: brown;
    background-color: aquamarine;
    border: solid 2px;
    border-color: green;
}