<link rel="stylesheet" type="text/css" href="/css/mail.css"
<div id="mail">
    <p>Dear,<%=comment.User.name%></p>
    <br>
    <br>
    <p>Your comment <strong><%=comment.content %></strong> just got published !</p>
    <br>
    <br>
    <p>Thanks !</p>
    <p>Memory Box</p>
</div>