<div>
    <h3>For Setting up password</h3>
    <br>
    <br>
    <a href="http://localhost:8000/user/edit-password/<%=passpord._id %>">set password now </a> 
    <br>
    <br>
    <p>
        Thanks!!
    </p>
</div>